[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
click = "*"
xvfbwrapper = "*"
numpy = "*"
imagehash = "*"
pillow = "*"
python-dotenv = "*"
python-pushover = "*"
ipykernel = "*"
auditor = {path = ".", editable = true}
geopy = "*"

[dev-packages]

[requires]
python_version = "3.7"
